/bodhi.template.last
/emacs-*.src.rpm
/emacs-23.3a.tar.bz2
/emacs-24.0.92.tar.gz
/emacs-24.0.93.tar.gz
/emacs-24.0.94.tar.gz
/emacs-24.0.95.tar.gz
/emacs-24.0.97.tar.gz
/emacs-24.1-rc.tar.gz
/emacs-24.1.tar.bz2
/emacs-24.2.tar.xz
/emacs-24.3.tar.xz
/emacs-24.4.tar.xz
/emacs-24.5.tar.xz
/emacs-25.0.92.tar.xz
/emacs-25.0.93.tar.xz
/emacs-25.0.94.tar.xz
/emacs-25.0.95.tar.xz
/emacs-25.1-rc1.tar.xz
/emacs-25.1-rc2.tar.xz
/emacs-25.1.tar.xz
/emacs-25.2-rc2.tar.xz
/emacs-25.2.tar.xz
/emacs-25.3.tar.xz
/emacs-26.1.tar.xz
/emacs-26.2.tar.xz
/emacs-26.3.tar.xz
/emacs-26.3.tar.xz.sig
/emacs-27.1.tar.xz
/emacs-27.1.tar.xz.sig
/emacs-27.2.tar.xz
/emacs-27.2.tar.xz.sig
/emacs-28.1.tar.xz
/emacs-28.1.tar.xz.sig
/emacs-28.2.tar.xz
/emacs-28.2.tar.xz.sig
/emacs-29.1.tar.xz
/emacs-29.1.tar.xz.sig
/emacs-29.3.tar.xz
/emacs-29.3.tar.xz.sig
/emacs-29.4.tar.xz
/emacs-29.4.tar.xz.sig
/php-mode.el
/results_emacs/
/0001-Apply-display-kluge-for-PGTK-too.patch
/0001-Fix-failing-help-fns-test.patch
/0001-Fix-flymake-tests-with-GCC-14.patch
/0001-Fix-intermittent-failure-of-dired-test-bug27243-02.patch
/0001-Fix-wdired-test-unfinished-edit-01-when-temp-dirname.patch
/0001-Pong-and-Tetris-are-excluded.patch
/0002-Fall-back-to-the-terminal-from-pure-GTK-when-no-disp.patch
/0002-Test-eshell-test-subcommand-reset-in-pipeline-is-uns.patch
/0003-Mark-multiple-mml-sec-tests-as-unstable-when-built-i.patch
/0004-Try-harder-to-stabalise-dired-test-bug27243-02.patch
/emacs-cedb01b.tar.gz
/emacs-desktop.patch
/emacs-libdir-vs-systemd.patch
/emacs-mps-cedb01b.tar.gz
/emacs-pgtk-on-x-error-message.patch
/emacs-spellchecker.patch
/emacs-system-crypto-policies.patch
/mps-kit-9fd0577.tar.gz
